@charset "utf-8";
/* CSS Document */

a:link {
	color: #CECAAE;
}

a:visited {
	color: #CECAAE;
}

a:hover {
	color: #A07700;
}

a:active {
	color: #A07700;
}


.tooltiptext {
	display: none;
}


.txt_peces {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #1B3138;
	line-height: 150%;
}

.text_important {
	font-size: 20px;
	font-weight: bold;
	color: #3a8fac;
	text-shadow: 1px 1px 3px #000;
}


.preguntas {
	color: #e8e6d8;
	font-size: 14px;
	line-height: 150%;	
	-webkit-text-shadow: 0px 0px 7px #000000, 2px 2px 3px #000000, 4px 4px 7px #D9D6C4;
	-moz-text-shadow: 0px 0px 7px #000000, 2px 2px 3px #000000, 4px 4px 7px #D9D6C4;
	-o-text-shadow: 0px 0px 7px #000000, 2px 2px 3px #000000, 4px 4px 7px #D9D6C4;
	-ms-text-shadow: 0px 0px 7px #000000, 2px 2px 3px #000000, 4px 4px 7px #D9D6C4;
	text-shadow: 0px 0px 7px #000000, 2px 2px 3px #000000, 4px 4px 7px #D9D6C4;
}

#idiomas {
	width: 262px;
	height: 93px;
	float: right;
	display: inline-block;
	text-align: left;
	padding-top: 53px;
}

#ide_menu {
	width: 770px;
	float: right;
	display: inline-block;
}

#ide_menu a {
	padding-right: 6px;
  border-right: 1px solid #990000;
}

form.gsc-search-box {
	margin-bottom: -6px !important;
}

h1 {
	display: none;
}

.fila_head {
	position: fixed;
	width: 100%;
	height: 110px;
	background: #000;
	text-align: right;
	z-index: 2000;
	top: 0px;
}

.fila {
	width: 1032px;
	min-height: 110px;
	margin: 0px auto;
}

.fila100 {
	width: 100%;
	min-height: 100%;
	background: #D9D6C4 url(../imagenes/aplicacion/f_deg.png) left top repeat-x;
	position: absolute;
}

.fila_buscador {
	width: 1032px;
	min-height: 65px;
	margin: 0px auto;
	padding-bottom: 0px;
	cursor: pointer;
}

.f1 {
	margin-top: 110px;
}

#b_buscar {
	margin: 0px;
	text-align: center;
}

.c_buscador {
	width: 978px;
  height: auto;
  margin: 0 auto;
  padding: 0px 27px 0px 27px;
  background: rgb(234, 232, 219) url(../imagenes/aplicacion/f_deg2.png) left top repeat-x;
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8),0 0 50px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	border-radius: 0px 0px 10px 10px;
	position: absolute;
}

#buscador {
	margin-top: 5px;
	display: none;
}

.vbuscador {
	z-index: 1200;
}

#content {
	width: 100%;
	height: 100%;
}

article {
	float: left;
}

.bloque1 {
	width: 30%;
}

.bloque2 {
	width: 70%;
	text-align: left;
}

.bloque3 {
	width: 65%;
  padding: 0px 35px 0px 30px;
}

.bloque4 {
	width: 25%;
}

ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 130%;
	list-style-image: url(../imagenes/aplicacion/b_pez.png);
	list-style-position: outside;
}

.text_frase{
	color: #e8e6d8;
	font-size: 14px;
	line-height: 150%;
}

.tp {
	font-size: 11.5px !important;
}

table {
	border-radius: 15px;
}

.deg_head {	
	background: #D9D6C4 url(../imagenes/aplicacion/deg_head.png) repeat-x;
  background: -webkit-linear-gradient(#396676, #D9D6C4);
  background: -moz-linear-gradient(#396676, #D9D6C4);
  background: -o-linear-background(#396676, #D9D6C4);
  background: -ms-linear-background(#396676, #D9D6C4);
  background: linear-background(#396676, #D9D6C4);
	border-radius: 15px 15px 0px 0px;
}

.titbus {
	font-size: 16px;
	font-weight: bold;
	color: #D9D6C4;
	margin: 15px;
	text-shadow: 2px 2px 4px #1B3138;
	text-align: center;
	
}

.titblue {
	font-size: 14px;
	font-weight: bold;
	color: #D9D6C4;
	background: url(../imagenes/aplicacion/deg.png) no-repeat;
	background: -webkit-linear-gradient(left, rgba(57,102,118,.8), rgba(57,102,118,0));
  background: -moz-linear-gradient(left, rgba(57,102,118,.8), rgba(57,102,118,0));
  background: -o-linear-background(left, rgba(57,102,118,.8), rgba(57,102,118,0));
  background: -ms-linear-background(left, rgba(57,102,118,.8), rgba(57,102,118,0));
  background: linear-background(left, rgba(57,102,118,.8), rgba(57,102,118,0));
	padding: 3px;
	padding-right: 6px;
	text-shadow: 2px 2px 4px #1B3138;
	
}

.titblue2 {
	font-size: 14px;
	font-weight: bold;
	color: #2A4B57;
}

.sem {
	height: 25px;
}

.b_verall {
	font-weight: bold;
	color: #396676 !important;
	text-decoration: none;
	cursor: pointer;
}

.c_texto {
	padding: 27px 27px 0px 27px;
	vertical-align: text-top;
}

button {
	padding: 6px 19px;
	text-decoration: none;
	background: #BFC6BE;
	border: solid 1px #3a8fac;
	border-radius: 7px;
	color: #2A4B57;
	box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-o-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-ms-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	margin: 15px;
}

.c_izq {
	padding: 27px;
	background: #E3E1CE;
	vertical-align: text-top;
	border-radius: 10px 0px 0px 10px;
}

.resul {
	width: 1032px;
	margin: 0px auto;
	font-size: 12px;
	text-align: right;
	padding: 4px;
	padding-right: 8px;
	margin-bottom: 15px;
	font-weight: bold;
	color: #D9D6C4;
	text-shadow: 2px 2px 4px #1B3138;
	background: url(../imagenes/aplicacion/deg_res.png) no-repeat right;
	border-radius: 0px 3px 3px 0px;
}


.otro_header {
	display: none;
}

#vista_res {
  position: relative;
  width: 100%;
  height: auto;
  /*background: #900;*/
  left: 0px;
  right: 0px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

.view {
  position: relative;
  margin: 0px auto;
  display: inline-block;
  width: 90%;
}

.dresul_all {

  width: 280px;
  height: 170px;
  text-align: left;
  float: left;
  display: inline-block;
  margin-bottom: 18px;
  overflow: visible;
  background: #EBE9DB;
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4),0 0 50px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	-o-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	-ms-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	border-radius: 8px 8px 0px 0px;
	position: relative;
	z-index: 200;
	margin-left: 20px;
}

.dresul_view {
	height: 170px;
}

.ver {
	z-index: 900;
}

.dresul_head {
	height: 45px;
	padding: 10px;
  background: -webkit-linear-gradient(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
  background: -moz-linear-gradient(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
  background: -o-linear-background(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
  background: -ms-linear-background(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
  background: linear-background(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
	border-radius: 8px 8px 0px 0px;
}

.dresul_body {
	padding: 10px;
	background: #EBE9DB;
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4),0 0 50px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	-o-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	-ms-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	border-radius: 0px 0px 8px 8px;
	z-index: 900;
}

.dima {
	width: 100%;
	min-height: 70px;
	padding: 0px;
	text-align: center;
	margin: 5px 0px 5px 0px;
	transition: 1.5s ease;
	-moz-transition: 1.5s ease; 
	-webkit-transition: 1.5s ease;
	-o-transition: 1.5s ease;
	-ms-transition: 1.5s ease; 
}

.dima:hover{
	transform: scale(2);
	-moz-transform: scale(2); 
	-webkit-transform: scale(2); 
	-o-transform: scale(2);
	-ms-transform: scale(2);
	z-index: 20 !important;
}

.ima {
	max-width: 250px;
	min-height: 70px;
	max-height: 70px;
}

.dimp {
	position: absolute;
	top: 103px;
	right: 10px;	
	z-index: 100;
}

input[id="buscador_nombre_comun"] {
	width: 300px;
	height: 37px;
	padding: 0px 13px 0px 13px;
	background: #e8e6d8;
	border: solid 1px #3a8fac;
	border-radius: 7px;
	color: #2A4B57;
	box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-o-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-ms-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
}

input[id="buscador_nombre_comun"]:focus {
	outline: none;
}

input[id="buscador_nombre_cientifico"] {
	width: 300px;
	height: 37px;
	padding: 0px 13px 0px 13px;
	background: #e8e6d8;
	border: solid 1px #3a8fac;
	border-radius: 7px;
	color: #2A4B57;
	box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-o-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-ms-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
}

input[id="buscador_nombre_cientifico"]:focus {
	outline: none;
}

select{
	background: #e8e6d8 url(../imagenes/aplicacion/arrow.png);
	background-position: 280px center;
  background-repeat: no-repeat;
 	padding: 11px;
 	font-size: 13px;
 	border: none;
 	border-radius: 7px;
	-webkit-appearance: none;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	color: #2A4B57;
	box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-o-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
	-ms-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75), inset 0px 0px 16px -1px rgba(0,0,0,0.75);
}

}
select:hover{
	outline: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0px 0;
  vertical-align: middle;
  background: url(../imagenes/aplicacion/check_radio_sheet.png) left top no-repeat;
  cursor: pointer;
}

input[id="buscador_recomendable"]:checked + label span {
  background: url(../imagenes/aplicacion/check_radio_sheet.png) -19px top no-repeat;

}

.rec {
	width: 337px;
  height: 80px;
	display: inline-block;
	background: url(../imagenes/aplicacion/recomendable.png) left top no-repeat;
	background-position-x: 28px;
	font-size: 11px;
	text-indent: -90px;
  padding-left: 90px;
  padding-right: 13px;

}

.prec {
	width: 337px;
  height: 80px;
	display: inline-block;
	background: url(../imagenes/aplicacion/poco_recomendable.png) left top no-repeat;
	background-position-x: 28px;
	font-size: 11px;
	text-indent: -90px;
  padding-left: 90px;
  padding-right: 13px;
  margin-bottom: 4px;
}

.nrec {
	width: 337px;
  height: 80px;
	display: inline-block;
	background: url(../imagenes/aplicacion/no_recomendable.png) left top no-repeat;
	background-position-x: 28px;
	font-size: 11px;
	text-indent: -90px;
  padding-left: 90px;
  padding-right: 13px;
}

.seleccionar {
	margin-right: 67px !important;
	vertical-align: sub !important;
}

.bimp {
	list-style-image: url(../imagenes/aplicacion/importado_p.png);
}

.t_re {
	color: #7FB009;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

.t_pre {
	color: #FE9D28;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

.t_nre {
	color: #C42306;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}
