@charset "utf-8";
/* CSS Document */

a:link {
	color: #349eba;
}

a:visited {
	color: #349eba;
}

a:hover {
	color: #349eba;
}

a:active {
	color: #349eba;
}


.tooltiptext {
	display: none;
}


.txt_peces {
	font-family: "freight-sans-pro";
	font-size: 14px;
	color: #1B3138;
	line-height: 150%;
}

.text_important {
	font-family: "acumin-pro-extra-condensed";
	font-size: 30px;
	font-weight: bold;
	color: #3a8fac;
	/*text-shadow: 1px 1px 3px #000;*/
	text-align: center;
}


.preguntas {
	color: #638793;
	font-size: 16px;
	line-height: 130%;	
	-webkit-text-shadow: 0px 0px 7px #000000, 2px 2px 3px #000000, 4px 4px 7px #D9D6C4;
	-moz-text-shadow: 0px 0px 7px #000000, 2px 2px 3px #000000, 4px 4px 7px #D9D6C4;
	-o-text-shadow: 0px 0px 7px #000000, 2px 2px 3px #000000, 4px 4px 7px #D9D6C4;
	-ms-text-shadow: 0px 0px 7px #000000, 2px 2px 3px #000000, 4px 4px 7px #D9D6C4;
	/*text-shadow: 0px 0px 7px #000000, 2px 2px 3px #000000, 4px 4px 7px #D9D6C4;*/
}

#idiomas {
	width: 262px;
	height: 93px;
	float: right;
	display: inline-block;
	text-align: left;
	padding-top: 53px;
}

#ide_menu {
	width: 100%;
	float: right;
	display: inline-block;
}

#ide_menu a {
	padding-right: 3px;
	text-decoration: none;
}

form.gsc-search-box {
	margin-bottom: -6px !important;
}

h1 {
	font-size: 40px;
    line-height: 55px;
    font-family: "acumin-pro-extra-condensed";
    font-weight: normal;
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
    -ms-text-shadow: 2px 2px 2px #000;
    -o-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
	color: #fff;
	margin-top: 10px;
    margin-bottom: 10px;
}

.liner {
    width: 50px;
    height: 5px;
}

.liner-dark {
    background: #080808;
}

.fila_head {
	position: fixed;
	width: 100%;
	height: 110px;
	background: #333333;
	text-align: right;
	z-index: 2000;
	top: 0px;
}

.fila_title {
	width: 100%;
	height: 90px;
	background: #6a4d1c; 
	text-align: center;
}

.fila {
	width: 1032px;
	margin: 0px auto;
	/*background-color: #741718;*/
	/*padding-left: 450px;*/
}

.f1 {
	margin-top: 110px;
}

#b_buscar {
	margin: 0px;
	text-align: center;
}

.c_buscador {
	width: 310px;
	height: 80%;
	margin: -94px auto;
	padding: 1em 2em;
	background-color: #EAE8DB;
	border-radius: 0px 0px 20px 20px;
	text-align: left;
	display: inline-block;
	position: fixed;
	z-index: 1000;
	overflow: auto;
/*	background: -moz-linear-gradient(top, rgba(191,191,191,1) 0%, rgba(234,232,219,1) 24%, rgba(234,232,219,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(191,191,191,1)), color-stop(24%, rgba(234,232,219,1)), color-stop(100%, rgba(234,232,219,1)));
	background: -webkit-linear-gradient(top, rgba(191,191,191,1) 0%, rgba(234,232,219,1) 24%, rgba(234,232,219,1) 100%);
	background: -o-linear-gradient(top, rgba(191,191,191,1) 0%, rgba(234,232,219,1) 24%, rgba(234,232,219,1) 100%);
	background: -ms-linear-gradient(top, rgba(191,191,191,1) 0%, rgba(234,232,219,1) 24%, rgba(234,232,219,1) 100%);
	background: linear-gradient(to bottom, rgba(191,191,191,1) 0%, rgba(234,232,219,1) 24%, rgba(234,232,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#eae8db', GradientType=0 );
	*/
}

#buscador {
	margin-top: 5px;
	display: block;
}

/*#buscador div  {
	display: inline-block; 
	vertical-align: middle;
	text-align: left;
	padding: 0 3em;
}*/

#mapa/*, #pez_explicado*/{
	/*border: 1px solid rgba(204,204,204,.5);
	border-radius: 4px;*/
	min-height: 210px;
}
#botones{
	/*display: table-cell!important;*/
	text-align: center;
}
#pez_explicado {
	/*padding: 0!important;*/
	width: 300px;
	text-align: center !important;
	/*color: #4E4D49;
	background-color: #D4D2C7;*/
	background: -webkit-linear-gradient(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
    background: -moz-linear-gradient(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
    background: -o-linear-background(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
    background: -ms-linear-background(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
    background: linear-background(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
    border-radius: 8px 8px 0px 0px;
}
#pez_explicado span.color_estilo{
	margin-left: 0;	
}
.vbuscador {
	z-index: 1200;
	top: 70px;
}

#content {
	width: 100%;
	height: 100%;
}

article {
	/*float: left;*/
}

.bloque1 {
	padding: 0px 10% 0px 420px;
}

.bloque2 {
	/*width: 50%;
	text-align: left;*/

}

.bloque3 {
	/*width: 80%;*/
  	padding: 0px 10% 0px 420px;
	color:#777;
}

.bloque4 {
	padding: 0px 10% 0px 420px;
	color:#777;
}

.piefoto {
	font-size:14px;
	color:#777;
}

.piefoto a {
	color:#777;
}

ul {
	font-family: "freight-sans-pro";
	line-height: 130%;
	list-style-image: url(../imagenes/aplicacion/b_pez.png);
	list-style-position: outside;
}

.text_frase{
	color: #777;
	font-size: 14px;
	line-height: 150%;
}

.tp {
	font-size: 13px !important;
}

table {
	border-radius: 15px;
}

.deg_head {	
	background: #D9D6C4 url(../imagenes/aplicacion/deg_head.png) repeat-x;
  background: -webkit-linear-gradient(#396676, #D9D6C4);
  background: -moz-linear-gradient(#396676, #D9D6C4);
  background: -o-linear-background(#396676, #D9D6C4);
  background: -ms-linear-background(#396676, #D9D6C4);
  background: linear-background(#396676, #D9D6C4);
	border-radius: 15px 15px 0px 0px;
}

.titbus {
	font-size: 16px;
	font-weight: bold;
	color: #D9D6C4;
	margin: 15px;
	text-shadow: 2px 2px 4px #1B3138;
	text-align: center;
	
}

.titblue {
	font-family: "acumin-pro-extra-condensed";
	font-size: 19px !important;
	font-weight: bold;
	color: #304046;
	background: url(../imagenes/aplicacion/deg.png) no-repeat;
	background: -webkit-linear-gradient(left, rgba(57,102,118,.8), rgba(57,102,118,0));
	background: -moz-linear-gradient(left, rgba(57,102,118,.8), rgba(57,102,118,0));
	background: -o-linear-background(left, rgba(57,102,118,.8), rgba(57,102,118,0));
	background: -ms-linear-background(left, rgba(57,102,118,.8), rgba(57,102,118,0));
	background: linear-background(left, rgba(57,102,118,.8), rgba(57,102,118,0));
	padding: 3px;
	padding-right: 6px;
	/*text-shadow: 2px 2px 4px #1B3138;*/
}

.titblue2 {
	font-size: 14px;
	font-weight: bold;
	color: #3a8fac;
}

.tabla_semaforo {
	font-size: 18px !important;
	font-weight: bold;
	text-align: center;
	font-family: "acumin-pro-extra-condensed";
	color: #6a4d1c;
}

.tabla_semaforo td {
	    background-color: rgba(255,255,255,.3);
}

.sem {
	height: 25px;
}

.b_verall {
	font-weight: bold;
	color: #396676 !important;
	text-decoration: none;
	cursor: pointer;
}

.c_texto {
	padding: 27px 27px 0px 27px;
	vertical-align: text-top;
}

button {
	font-family: "acumin-pro-extra-condensed";
	font-size: 15px;
	padding: 6px 18px;
	text-decoration: none;
	/*border: solid 1px rgba(204,204,204,.5);*/
	border-radius: 4px;
}



.c_izq {
	padding: 27px;
	background: #E3E1CE;
	vertical-align: text-top;
	border-radius: 10px 0px 0px 10px;
}

.resul {
	font-family: "acumin-pro-extra-condensed";
	width: 90%;
	margin: 0px auto;
	font-size: 23px;
	text-align: right;
	padding: 4px;
	padding-right: 10px;
	margin-bottom: 15px;
	color: #304046;
	/*text-shadow: 2px 2px 4px #1B3138;*/
	background: url(../imagenes/aplicacion/deg_res.png) no-repeat right;
	border-radius: 0px 3px 3px 0px;
}
.numero {
	color: aliceblue;
	font-weight: bold;
	font-size: 27px;
}

.numpeso {
	font-family: "acumin-pro-extra-condensed";
	font-size: 20px;
	vertical-align: bottom;
	line-height: 23px;
	padding-right: 3px;
	font-weight: bold;
    color: #6a4d1c;
}
.otro_header {
	display: none;
}

#vista_res {
	position: absolute;
	/*width: 88%;
	height: auto;
	background: #900;
	left: 0px;
	right: 0px;
	margin: 0 auto;*/
	/*text-align: center;
	text-align: right;*/
	padding: 0px 2% 0px 420px;
	display: inline-block;
}

.view {
	position: relative;
	display: inline-block;
/*	width: 90%;
	width: 80%;
	margin: 0px auto;
	*/
}

.dresul_all {

  width: 280px;
  height: 185px;
  text-align: left;
  float: left;
  display: inline-block;
  margin-bottom: 18px;
  overflow: visible;
  background: #EBE9DB;
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4),0 0 50px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	-o-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	-ms-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	border-radius: 8px 8px 0px 0px;
	position: relative;
	z-index: 200;
	margin-left: 20px;
}

.dresul_view {
	height: 170px;
}

.ver {
	z-index: 900;
}

.dresul_head {
	height: 45px;
	padding: 10px;
  background: -webkit-linear-gradient(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
  background: -moz-linear-gradient(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
  background: -o-linear-background(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
  background: -ms-linear-background(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
  background: linear-background(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
	border-radius: 8px 8px 0px 0px;
}

.dresul_body {
	padding: 20px 10px 10px 10px;
	background: #EBE9DB;
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4),0 0 50px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	-o-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	-ms-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	border-radius: 0px 0px 8px 8px;
	z-index: 900;
}

.dima {
	width: 100%;
	min-height: 70px;
	padding: 0px;
	text-align: center;
	margin: 5px 0px 5px 0px;
	transition: 1.5s ease;
	-moz-transition: 1.5s ease; 
	-webkit-transition: 1.5s ease;
	-o-transition: 1.5s ease;
	-ms-transition: 1.5s ease; 
}

.dima:hover{
	transform: scale(2);
	-moz-transform: scale(2); 
	-webkit-transform: scale(2); 
	-o-transform: scale(2);
	-ms-transform: scale(2);
	z-index: 20 !important;
}

.ima {
	max-width: 250px;
	min-height: 70px;
	max-height: 70px;
}

.dimp {
	position: absolute;
	top: 103px;
	right: 10px;	
	z-index: 100;
}

input[id="buscador_nombre_comun"]:focus, input[id="buscador_nombre_cientifico"]:focus  {
	outline: none;
}

select, input[id="buscador_nombre_comun"] , input[id="buscador_nombre_cientifico"] {
	height: 20px;
	padding: 4px 4px;
	border: solid 1px rgba(204,204,204,.5);
	border-radius: 4px;
	background-color: #fafafa;
	color: #333;
	width: 100%;
	margin-bottom: 8px;
}

select, input[id="buscador_grupo"] {
	height: 28px;
}

select:hover{
	outline: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0px 0;
  vertical-align: middle;
  background: url(../imagenes/aplicacion/check_radio_sheet.png) left top no-repeat;
  cursor: pointer;
}



.recomendacion_pez {
	display: inline-block;
    border-radius: 4px;
	font-family: "acumin-pro-extra-condensed";
    text-align: center;
    margin-top: 6px;
	width: 55px;
	height: 73px;
	vertical-align: top;	
}

.recomendacion_pez b {
	background-color: rgba(255,255,255,.3);
	font-size: 11px;
	line-height: 10px;
	color: #6a4d1c;
	display: block;
	padding: 3px;
	padding-bottom: 13px;
}

	
img.pez_circulo
{
	display: inline-block;
    max-width: 25px;
    height: auto;
    margin-top: 6px;
}

.recomendaciones input {
	font-size: 20px;
}

.seleccionar {
	/*margin-right: 67px !important;
	vertical-align: sub !important;*/
}

.bimp {
	list-style-image: url(../imagenes/aplicacion/importado_p.png);
}

.t_re {
	color: #7FB009;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

.t_pre {
	color: #FE9D28;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

.t_nre {
	color: #C42306;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}
#buscador_en_inicio{
	display: none;
}
#togglea_buscador_en_inicio{
	position: absolute;
	margin-top: -100px;
	font-size: x-large;
	right: 6%;
	border-radius: 4px;
	
	border: 1px solid #C1C0B6!important;
	color: #333;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	border: 0px;
	white-space: nowrap;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    background: #f9f8ed;
	background: -moz-linear-gradient(top,  #f9f8ed 0%, #d8d7cb 100%);
	background: -webkit-linear-gradient(top,  #f9f8ed 0%,#d8d7cb 100%);
	background: linear-gradient(to bottom,  #f9f8ed 0%,#d8d7cb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8ed', endColorstr='#d8d7cb',GradientType=0 );
}
#togglea_buscador_en_inicio:hover{
	background: #d8d7cb;
	background: -moz-linear-gradient(top,  #d8d7cb 0%, #f9f8ed 100%);
	background: -webkit-linear-gradient(top,  #d8d7cb 0%,#f9f8ed 100%);
	background: linear-gradient(to bottom,  #d8d7cb 0%,#f9f8ed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d7cb', endColorstr='#f9f8ed',GradientType=0 );
}


.d70 {
	display: inline-block;
    width: 70%;
	padding-top: 15px;
}

.d30 {
	display: inline-block;
    width: 20%;
    font-size: 20px;
    margin-right: 10px;
    line-height: 68px;
	color: #6a4d1c;
	background-color: rgba(255,255,255,.3);
	font-weight: bold;
}

.d30 span {
	background-color: rgba(255,255,255,.3);
	display: block;
    padding-bottom: 10px;
}


/* Nuevo header */

.main-nav{
	list-style: none;
	padding: 0;
}
.main-nav li{
	display: inline-block;
}
.main-nav li a{
	color: #e8e3e3;
	margin-left: 10px;
	margin-right: 10px;
	font-family: "freight-sans-pro";
	/*text-transform: uppercase;*/
	font-size: 18px;
	line-height: 21px;
}

.main-nav li a.name{
	color: #bda74f;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 17px;
	line-height: 18px;
	font-weight: 600;
}

.main-logo{
	margin-top: 12px;
	float:left;
	
}

.peso_recomendacion {
	/*background-color: aqua;*/
	text-align: right;
    margin-top: -30px;
}

.peso_recomendacion img.pez_circulo {
	padding: 7px;
	border-radius: 20px;
	
}