@charset "utf-8";
/* CSS Document */

.txt_peces {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #1B3138;
	line-height: 150%;
}

.tp {
	font-size: 11.5px !important;
}

table {
	border-radius: 15px;
}

.deg_head {	
	background: #D9D6C4 url(../imagenes/aplicacion/deg_head.png) repeat-x;
    background: -webkit-linear-gradient(#396676, #D9D6C4);
    background: -moz-linear-gradient(#396676, #D9D6C4);
    background: -o-linear-background(#396676, #D9D6C4);
    background: -ms-linear-background(#396676, #D9D6C4);
    background: linear-background(#396676, #D9D6C4);
	border-radius: 15px 15px 0px 0px;
}

.titblue {
	font-size: 14px;
	font-weight: bold;
	color: #D9D6C4;
	background: url(../imagenes/aplicacion/deg.png) no-repeat;
	background: -webkit-linear-gradient(left, rgba(57,102,118,.8), rgba(57,102,118,0));
    background: -moz-linear-gradient(left, rgba(57,102,118,.8), rgba(57,102,118,0));
    background: -o-linear-background(left, rgba(57,102,118,.8), rgba(57,102,118,0));
    background: -ms-linear-background(left, rgba(57,102,118,.8), rgba(57,102,118,0));
    background: linear-background(left, rgba(57,102,118,.8), rgba(57,102,118,0));
	padding: 3px;
	padding-right: 6px;
	text-shadow: 2px 2px 4px #1B3138;
}

.titblue2 {
	font-size: 14px;
	font-weight: bold;
	color: #2A4B57;
}

.preguntas {
	color: #396676;
	font-size: 14px;
	line-height: 150%;
	font-style: italic;
	font-weight: bold;
}

.sem {
	height: 25px;
}

ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 160%;
	list-style-image: url(../imagenes/aplicacion/b_pez.png);
	list-style-position: outside;
}

.c_buscador {
	height: 500px;	
	padding: 27px;
	background: #EBE9DB;
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4),0 0 50px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	border-radius: 10px 0px 0px 10px;
}


.b_verall {
	font-weight: bold;
	color: #396676 !important;
}

.c_texto {
	padding: 27px 27px 0px 27px;
	vertical-align: text-top;
}

.c_izq {
	padding: 27px;
	background: #E3E1CE;
	vertical-align: text-top;
	border-radius: 10px 0px 0px 10px;
}

.resul {
	font-size: 12px;
	text-align: right;
	margin-right: 20px;
	padding: 3px;
	padding-right: 6px;
	font-weight: bold;
	color: #D9D6C4;
	text-shadow: 2px 2px 4px #1B3138;
	background: url(../imagenes/aplicacion/deg_res.png) no-repeat right;
	background: -webkit-linear-gradient(left, rgba(57,102,118,0), rgba(57,102,118,.8));
    background: -moz-linear-gradient(left, rgba(57,102,118,0), rgba(57,102,118,.8));
    background: -o-linear-background(left, rgba(57,102,118,0), rgba(57,102,118,.8));
    background: -ms-linear-background(left, rgba(57,102,118,0), rgba(57,102,118,.8));
    background: linear-background(left, rgba(57,102,118,0), rgba(57,102,118,.8));
}

.view {
	position: relative;
}

.dresul_all {
	width: 280px;
	height: 170px;
	text-align: left;
	float: left;
	display: inline-block;
	margin-left: 18px;
	margin-bottom: 18px;
	overflow: visible;
	background: #EBE9DB;
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4),0 0 50px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	-o-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	-ms-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	border-radius: 8px 8px 0px 0px;
	position: relative;
	z-index: 200;
}

.dresul_view {
	height: 170px;
}

.ver {
	z-index: 900;
}

.dresul_head {
	height: 45px;
	padding: 10px;
    background: -webkit-linear-gradient(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
    background: -moz-linear-gradient(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
    background: -o-linear-background(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
    background: -ms-linear-background(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
    background: linear-background(rgba(111, 140, 144, 0.7), rgba(111, 140, 144, 0));
	border-radius: 8px 8px 0px 0px;
}

.dresul_body {
	padding: 10px;
	background: #EBE9DB;
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4),0 0 50px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	-o-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	-ms-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.2) inset;
	border-radius: 0px 0px 8px 8px;
	z-index: 900;
}

.dima {
	width: 100%;
	min-height: 70px;
	padding: 0px;
	text-align: center;
	margin: 5px 0px 5px 0px;
	transition: 1.5s ease;
	-moz-transition: 1.5s ease; 
	-webkit-transition: 1.5s ease;
	-o-transition: 1.5s ease;
	-ms-transition: 1.5s ease; 
}

.dima:hover{
	transform : scale(2);
	-moz-transform : scale(2); 
	-webkit-transform : scale(2); 
	-o-transform : scale(2);
	-ms-transform : scale(2);
	z-index: 20 !important;
}

.ima {
	max-width: 250px;
	min-height: 70px;
	max-height: 70px;
}

.dimp {
	position: absolute;
	top: 103px;
	right: 10px;	
	z-index: 100;
}

#opens1, #opens2, #opens3, #opens4, #opens5 {
	cursor: pointer;
	text-decoration: underline;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 3px 4px 0;
  vertical-align: middle;
  cursor:pointer;
}

input[id="buscador_recomendable"] + label span {
  background: url(../imagenes/aplicacion/check_radio_v.png) left top no-repeat;
}

input[id="buscador_recomendable"]:checked + label span {
  background: url(../imagenes/aplicacion/check_radio_v.png) -22px top no-repeat;
}

input[id="buscador_poco_recomendable"] + label span {
  background: url(../imagenes/aplicacion/check_radio_a.png) left top no-repeat;
}

input[id="buscador_poco_recomendable"]:checked + label span {
  background: url(../imagenes/aplicacion/check_radio_a.png) -22px top no-repeat;
}

input[id="buscador_no_recomendable"] + label span {
  background: url(../imagenes/aplicacion/check_radio_r.png) left top no-repeat;
}

input[id="buscador_no_recomendable"]:checked + label span {
  background: url(../imagenes/aplicacion/check_radio_r.png) -22px top no-repeat;
}

input[id="buscador_libre"] + label span {
  background: url(../imagenes/aplicacion/check_radio_b.png) left top no-repeat;
}

input[id="buscador_libre"]:checked + label span {
  background: url(../imagenes/aplicacion/check_radio_b.png) -22px top no-repeat;
}

.bimp {
	list-style-image: url(../imagenes/aplicacion/importado_p.png);
}

.t_re {
	color: #7FB009;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

.t_pre {
	color: #FE9D28;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

.t_nre {
	color: #C42306;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}
