!assets/.gitignore
!assets/js
assets/
protected/runtime/*.log
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
protected/config/main.php
.buildpath
.project
.settings/
protected/data/MER_peces_comerciales.mwb.bak
protected/data/migracion_20-03-2015/
protected/data/migracion/migracion.php
